$dark: #222629 !default;
$verydark: #16191b !default;
$extremelydark: #101214 !default;
$navdark: #1f2325 !default;
$medium: #474B4F !default;
$light: #6B6E70 !default;
$lighter: #b9b9b9 !default;
$accent1: #da710f !default;
$accent2: #c0731a !default;

$button: blue !default;
$buttonhover: black !default;


@mixin phone {
    @media (max-width: 700px) {
        @content;
    }
}