@import './theme.scss';

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-bottom: 30px;
    background-color: $accent1;

    h1 {
        letter-spacing: 5px;

        @include phone {
            letter-spacing: 1px;
            font-size: 1.2rem;
        }
    }

    a {
        margin: 10px;
        font-weight: bold;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
    }
}