@import './theme.scss';

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-bottom: 30px;
    background-color: $accent1;

    active {

    }

    a {
        margin: 10px;
        font-weight: bold;
    }
}